;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[net.mikera/core.matrix "0.62.0"]
  [org.clojure/core.async "0.6.532"]]

 :dev-http {8080 "public/"}
 ; "app" is the build-id, in running "shadow-cljs compile app"
 :builds {:app {:target :browser ; compile code that loads in a browser
                :output-dir "public/js"
                :asset-path "./js" ; assets loaded from index.html are based on path "/js"

                ; "main.js" is the name for the bundle entry
                :modules {:shared {:entries [hook]}
                          :app {:entries [app.main]
                                :depends-on #{:shared}}}}
          :release {:target :browser
                    :output-dir "../cocosDev/assets/Han"
                    :modules {:app {:entries [app.main]}}}}}
