; https://kozieiev.com/blog/clojure-cli-tools-deps-deps-edn-guide/#most-usable-clj-options
; https://github.com/borkdude/cljs-macro
; https://code.thheller.com/blog/shadow-cljs/2019/10/12/clojurescript-macros.html
{:deps {han/game {:local/root "../game"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        org.clojure/core.async {:mvn/version "1.6.673"}}
 :aliases {; not working
           :build-macro {:main-opts ["-m" "cljs.main" "-O" "advanced" "-c" "client.macro"]}
           ; macro not working
           :build  {:main-opts ["-m" "cljs.main" "-c" "client.core"]}
           ; clj -M:dev
           :run {:main-opts ["-m" "cljs.main" "-c" "client.core" "--repl-opts" "{:launch-browser false}" "--repl"]}}}